*{
    margin: 0;
    padding: 0;
}

.container{
    /* background-color: red; */
    /* width:700px; */
    /* height:700px; */
    display:grid;
    /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px; */

    /* Instead of the above css use repeate and fr unit 
       1fr means 1 fraction of the entire width available    
    */

    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 60px;
    row-gap: 12px;
    column-gap: 12px;
    /* justify-items: center;
    justify-items: start;
    justify-items: end; */


 }

.item{
background-color: burlywood;
/* width: 122px;
height:122px */
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */

    /* Another way of spanning the columns */
    grid-column: 1 / span 3;
}

.item2{
    /*Justify-items work on grid containers and justify-self works on grid items*/
    /* justify-self: center;
    align-self:center; */
    
    /*place-self centers both justiy and align type property*/
    place-self: center;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}